.desktop-navbar{display: block;}
.desktop-navbar-nojs{display: block;}
.mobile-navbar{display: none;}
.mobile-navbar-nojs{display: none;}

:root{
  --primary-color: #03dac5;
  --secondary-color: rgb(18, 18, 18);
  --dark-grey: rgb(27, 27, 27);
  --light-grey: rgb(45, 45, 45);
}

header{
  position: sticky;
  top : 0;
  z-index: 9999;
}

nav{
  position: absolute;
  width: 100%;
}

.desktop-navbar li{
  position: relative;
}

.desktop-navbar > ul > li > button{
  color: white;
  width: max-content;
  height: 100%;
  padding: 1rem;
}

.desktop-navbar > ul{
  display: flex;
  font-size: 16px;
  justify-items: center;
  color: white;
}

.desktop-navbar .underbar{
  background-color: var(--primary-color);
  width: 100px;
  height: 2px;
  position: absolute;
  pointer-events: none;
  top: calc(100% - 2px);
}

.desktop-navbar .submenu{
  position: absolute;
  background-color: var(--dark-grey);
  display: grid;
  grid-template-columns: max-content;
  justify-items: center;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.desktop-navbar .submenu button{
  width: 100%;
  height: 100%;
  padding: 1rem 2rem 1rem 2rem;
}
.desktop-navbar .submenu li{
  width: 100%;
}

.desktop-navbar .submenu button:hover{
  background-color: var(--light-grey);
}

:focus {
  outline: none !important;
}