.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  background: transparent;
  padding-bottom: 30px;
}

.swiper-pagination-bullet {
  background: white;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  color: #00ff00;
  background: #00ff00;
}