.desktop-navbar{display: none;}
.desktop-navbar-nojs{display: none;}
.mobile-navbar-nojs{display: block;}
.mobile-navbar-nojs-nojs{display: block;}


.mobile-navbar-nojs{
	background-color: #121212;
	font-size: 40px;
}

.mobile-navbar-nojs > div{
	width: max-content;
	margin-left: 1rem;
}

.mobile-navbar-nojs > div > ul{
	display: none;
	position: absolute;
	width: max-content;
	align-items: center;
	justify-items: center;
	font-size: 20px;
	height: 100vh;
	left: 0;
	top: 100%;
	background-color: rgb(20, 21, 24);
}

.mobile-navbar-nojs > div > ul > li{
	position: relative;
	width: 100%;
}

.mobile-navbar-nojs > div:hover > ul{
	display: block;
}

.mobile-navbar-nojs #backdrop{
	pointer-events: none;
	opacity: 0;
	background-color: black;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: -999;
}

.mobile-navbar-nojs > div:hover > #backdrop{
	opacity: 0.7;
}

.mobile-navbar-nojs button{
	padding: 1rem 2rem;
	width: 100%;
	height: 100%;
}

.mobile-navbar-nojs .submenu{
	display: none;
	position: absolute;
	background-color: #121212;
	top: 0;
	left: 100%;
	width: max-content;
	background-color: #121212;
}

.mobile-navbar-nojs > div > ul > li:hover > ul{
	display: block;
}

.mobile-navbar-nojs button:hover{
	background-color: rgb(45, 45, 45);
}
