body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: #121212;
  background-color: #e5e5e5;
  position: relative;
}

.btn-primary {
  color: #03dac5;
  border: 2px solid #03dac5;
  height: 48px;
  transition: 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-primary:hover {
  color: #575757;
  border-color: #575757;
}

.btn-secondary { 
  background-color: #009688;
  color: #fff;
  font-weight: bold;
  border-radius: 3px;
  padding: .5rem 1.4rem;
  border-color: #009688;
}

.btn-secondary:hover { 
  background-color: #0ca899;
}

footer {
  background-color: #121212;
}

.frame{  
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}     

.news-image {
  background-image: url(/static/images/no_image_available.svg);
  height: 75px;
  width: 75px;
}
.news-title {
  font-size: 0.75rem;
}
.news-date {
  display: none;
}
@media (min-width: 480px) {
  .news-title {
    font-size: 1rem;
  }
}
@media (min-width: 580px) {
  .news-date {
    display: block;
  }
}
@media (min-width: 640px) {
  .news-image {
    height: 150px;
    width: 150px;
  }
  .news-title {
    font-size: 1.125rem;
  }
}
@media (min-width: 1024px) {
  .news-image {
    height: 200px;
    width: 200px;
  }
}

/** Home Page Styles */
.Home__AboutUs { 
  background-color: #fff; 
  background-image: url('https://cdn.discordapp.com/attachments/837775182525366302/838531622139592717/ganesh-group.png');
  background-size:  52%;
  background-repeat: no-repeat;
  background-position: right;
}

.Home__AboutUs_MobileImage { 
  display: none;
}

@media (max-width: 768px) {
  .Home__AboutUs { 
    background-image: none;
  }

  .Home__AboutUs .container > * { 
    flex-flow: column nowrap;
  }
  
  .Home__AboutUs_MobileImage,
  .Home__AboutUs_Text { 
    width: 100%;
    display: block;
  }
}

.Home__Activities_Text { 
  width: 70%;
}

.Home__Activities_Card { 
  width: 30%;
}

@media (max-width: 768px) {
  .Home__Activities .container > * { 
    flex-flow: column nowrap;
  }

  .Home__Activities_Text { 
    width: 100%;
  }
  
  .Home__Activities_Card { 
    width: 350px;
    margin: 1rem auto 0 auto
  }
}


/* FAQ Page Styles */

.FAQ__item { 
  display: block;
  margin: 16px auto 0 auto;
  width: 80%;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

@media (max-width: 640px) {
  .FAQ__item { 
    width: 100%;
  }
}

.FAQ__item:first-child { 
  margin-top: 0px;
}

.FAQ__question {
  display: block;
  width: 100%;
  background: #fff;
  border: gray;
  padding: 20px;
  text-align: left;
  font-size: 16px;
}

.FAQ__question:hover {
  text-decoration: underline;
  cursor: pointer;
}

.FAQ__answer {
  padding: 20px;
  background-color: #fff;
  border-top: solid 1px #ccc
}

.FAQ__answer p {
  margin-top: 8px;
  text-align: justify;
}

.FAQ__answer p:first-child {
  margin-top: 0px;
}

.FAQ__answer--hidden {
  display: none;
}

/* Activity Card */

.ActivityCard { 
  overflow: hidden;
}

.ActivityCard .btn { 
  display: block;
  padding: 0.5rem;
  height: auto;
  text-transform: uppercase;
  text-align: center;
}

.ActivityCard__Image { 
  height: "100%";
  width: "100%";
  objectFit: "cover";
}


