.desktop-navbar-nojs{
	background-color: #121212;
}

.desktop-navbar-nojs > ul{
	display: flex;
	font-size: 16px;
	justify-items: center;
	color: white;
}

.desktop-navbar-nojs > ul > li > button{
	height: 100%;
	padding: 1rem;
}

.desktop-navbar-nojs > ul > li > button:hover{
	background-color: rgb(45, 45, 45);
}

.desktop-navbar-nojs > ul > li{
	position: relative;
}

.desktop-navbar-nojs .submenu{
	background-color: rgb(27, 27, 27);
	display: none;
	position: absolute;
	justify-items: center;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	min-width: max-content;
	left: -21.42px;
}

.desktop-navbar-nojs .submenu li{
	width: 8rem;
	position: relative;
}

.desktop-navbar-nojs li:hover ul{
	display: grid;
}

.desktop-navbar-nojs .submenu button:hover{
	background-color: rgb(45, 45, 45);
}

.desktop-navbar-nojs .submenu button{
	width: 100%;
	padding: 1rem 1rem 1rem 1rem;
	word-wrap: break-word;
}